<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="sql" connectionString="Server=MSI\KALUKALU;Integrated security=true;Database=db_InsertarImagen"/>
        <add name="ImagenesnBD.Properties.Settings.Valor" connectionString="Data Source=MSI\KALUKALU;Initial Catalog=db_InsertarImagen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>